.sanishop-wellness{
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.push-img{
  position: relative;
  img{
    position: relative;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

.video{
  padding-top: 100px;
  padding-bottom: 50px;
}

.features{
  padding: 0 50px;
}

.features-wrapper{
  margin-bottom: 20px;
}

.features-text-wrapper{
  margin-left: 40px;
}

.city-tile {
  background-color: #fff;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,.7);
  }
}