.sanishop-wellness{
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.push-img{
  position: relative;
  img{
    position: relative;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

.video{
  padding-top: 100px;
  padding-bottom: 50px;
}

.features{
  padding: 0 50px;
}

.features-wrapper{
  margin-bottom: 20px;
}

.features-text-wrapper{
  margin-left: 40px;
}
