.main-btn{
  text-align: center;
  background-color: #000;
  cursor: pointer;
  transition: all ease .2s;
  border: solid 1px #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  &:hover{
    background-color: #fff;
  }
  a{
    padding: 15px;
    display: block;
    color: #fff;
    &:hover{
      text-decoration: none;
      color: #000;
    }
  }
  &--fancy-gray{
    background-color: $gray-middle;
    border: solid 1px $gray-middle;
    width: 250px;
    position: relative;
    top: -50px;
    z-index: 2;
    left: 65%;
    @include bp(xs){
      left: 0;
      top: -35px;
      margin: auto;
    }
    a{
      color: #000;
      &:hover{
        color: #fff;
      }
    }
    &:hover{
      background-color: #000;
    }
  }
}