.nav{
  position: absolute;
  z-index: 5;
  width: 100%;
}
.main-header-wrapper{
  width: 90%;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
}
.nav-link{
  color: #fff;
  font-family: 'Tex';
  letter-spacing: 2px;
  padding: 0 10px;
  text-transform: uppercase;
  &:hover{
    color: #fff;
  }
  &:hover::after{
    color: #fff;
    width: 100%;
    display: block;
    border-bottom: solid 2px #fff;
    transform: scaleX(1);
  }
  &:after{
    position: relative;
    content: '';
    width: 100%;
    margin-top: 10px;
    height: 2px;
    transform: scaleX(0);
    transition: all ease-in-out .2s;
  }
}