.list{
  list-style: none;
  line-height: 30px;
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  li{
    position: relative;
    padding: 0 10px 10px 30px;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      background-color: #000;
      width: 5px;
      height: 5px;
      margin-top: 12px;
    }
  }
  .list-link{
    position: relative;
    left: 0;
    transition: left ease-in-out .2s;
    &:hover{
      position: relative;
      left: 10px;
    }
  }
}

.list-white{
  li {
    color: #fff;
    &:before {
      background-color: #fff;
    }
  }
}

.list-footer{
  list-style: none;
  padding-left: 0;
  &--item{
    color: #fff;
    margin-bottom: 10px;
  }
}