.list{
  list-style: none;
  line-height: 30px;
  li{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      background-color: #000;
      width: 5px;
      height: 5px;
      margin-left: -20px;
      margin-top: 12px;
    }
  }
  span{
    position: relative;
    left: 0;
    transition: left ease-in-out .2s;
    &:hover{
      position: relative;
      left: 10px;
    }
  }
}