.bg-paragraph-card{
  padding-left: 0;
  padding-right: 0;
  .bg-paragraph-card-wrapper{
    padding: 50px;
    background-color: rgba(255,255,255,.7);
  }
}

.black-paragraph-card{
  padding-left: 0;
  padding-right: 0;
  .bg-paragraph-card-wrapper{
    padding: 50px;
    background-color: #000;
    .title-second{
      color: #fff;
    }
    .paragraph{
      color: #fff;
    }
    .main-btn{
      background-color: #fff;
      &:hover{
        background-color: $gray-lighter;
        color: #000;
      }
      a{
        color: #000;
      }
    }
  }
}