@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

@font-face{
  font-family: 'Droid';
  src: url('../fonts/droiditalic.woff') format('woff');
}
@font-face{
  font-family: 'Tex';
  src: url('../fonts/texregular.woff') format('woff');
}
@font-face{
  font-family: 'Texbold';
  src: url('../fonts/texbold.woff') format('woff');
}

body{
  font-family: 'Raleway';
}

a{
  color: #000;
  &:hover{
    text-decoration: none;
    color: #000;
  }
}

.title-card{
  font-family: 'Tex';
  font-size: $font-size-h3;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  color: #000;
  margin-top: 10px;
}

.title{
  @extend .title-card;
  font-size: $font-size-h2;
  margin-bottom: 50px;
  @include bp(xs){
    font-size: $font-size-h4;
  }
}

.title-second{
  @extend .title-card;
  font-size: $font-size-h4;
  line-height: 25px;
  &--white {
    @extend .title-second;
    color: #fff;
  }
  @include bp(xs){
    font-size: $font-size-h6;
  }
}

.sub-title{
  font-family: 'Droid';
  font-weight: 300;
  font-size: $font-size-h5;
  color: $gray-light;
  margin-top: 0;
}

.sub-title--white{
  @extend .sub-title;
  color: #fff;
}

.title-third{
  @extend .title-second;
  font-size: 14px;
  letter-spacing: 2px;
}

.footer-title{
  @extend .title-second;
  font-size: 13px;
  letter-spacing: 3px;
  color: #fff;
  font-family: 'Texbold';
  margin-bottom: 20px;
}

.copyright{
  font-family: 'Droid';
  font-size: 11px;
  text-decoration: underline;
}

.mailto{
  font-family: 'Droid';
  color: #fff;
  &:hover{
    text-decoration: underline;
    color: #fff;
  }
}

.paragraph{
  color: $gray-light;
  margin: 20px 0;
  line-height: 24px;
  &--white{
    @extend .paragraph;
    color: #fff;
    font-weight: 300;
  }
}


.wrapper-text-content{
  padding: 0 50px;
}

.footer-social-label{
  @extend .title-second;
  font-size: 14px;
  color: #fff;
}

.copyright-footer{
  color: #fff;
  text-align: center;
}

.highlight-white {
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 30px;
  border: solid 1px #fff;
  padding: 100px;
  text-align: center;
  @include bp(xs) {
    font-size: inherit;
    padding: 30px;
  }
}

.highlight {
  @extend .highlight-white;
  color: $gray-light;
  padding: 50px;
  margin-top: 50px;
  border: solid 1px $gray-light;
}

