// MARGIN
$mb-1: 10px;
$mb-2: 30px;
$mb-3: 30px;
$mb-4: 40px;
$mb-5: 50px;

.mb-1{
  margin-bottom: $mb-1;
}
.mb-2{
  margin-bottom: $mb-2;
}
.mb-3{
  margin-bottom: $mb-3;
}
.mb-4{
  margin-bottom: $mb-4;
}
.mb-5{
  margin-bottom: $mb-5;
}

$mt-1: 10px;
$mt-2: 30px;
$mt-3: 30px;
$mt-4: 40px;
$mt-5: 50px;

.mt-1{
  margin-top: $mt-1;
}
.mt-2{
  margin-top: $mt-2;
}
.mt-3{
  margin-top: $mt-3;
}
.mt-4{
  margin-top: $mt-4;
}
.mt-5{
  margin-top: $mt-5;
}

// PADDING

//ALIGNS
.v-align-center{
  display: flex;
  align-items: center;
}