footer{
  background-image: url('../images/footer-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  .list{
    padding: 0 30px;
    li{
      a{
        color: #fff;
      }
      &:before{
        background-color: #fff;
      }
    }
  }

  .footer-overlay{
    padding: 100px 50px 20px 50px;
    background-color: rgba(0,0,0,.9);
  }
}

.wrapper-footer{
  padding-left: 50px;
  @include bp(xs){
    padding: 0 15px;
    text-align:center;

  }
}

.list-footer{
  margin-bottom: 20px;
  a{
    color: $gray-light;
    transition: color ease-in-out .3s;
    &:hover{
      color: #fff;
    }
  }
}

.mission{
  padding-right: 50px;
  @include bp(xs){
    padding: 30px 15px;
    text-align:center;

  }
}

.logo-footer{
  img{
    display: block;
    width: 100%;
  }
}

.footer-icons{
  margin-top: 30px;
  margin-bottom: 10px;
  .svg-inline--fa{
    display: inline-block;
    width: 20%;
    margin-left: -4px;
    transition: all ease-in-out .3s;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  .footer-social-label{
    display: inline-block;
  }
}