.quad-layout {
  height: 700px;
  @include bp(sm-md){
    padding-bottom: 50px;
    height: auto;
  }
  .row{
    height: 100%;
  }
  .col-md-4.v-align-center{
    height: 100%;
    @include bp(sm-md){
      height: auto;
    }
  }
  .wrapper-text-content{
    @include bp(sm-md){
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}